<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>

<div id="container" style="width:1800px">

    <div id="header" style="background-color:#33CCCC;">
        <h1 style="margin-bottom:0;text-align:center">欢迎来到驾校管理系统</h1></div>

    <div id="menu" style="background-color:#D0D0D0;height:1000px;width:200px;float:left;">
        <b></b><br>
        <ul>
            学生管理
            <li><a href="/new">新生信息注册</a>

            <li><a href="/student">查看学生列表</a> </li>
        </ul>
        <ul>
            成绩管理
            <li><a href="/add">录入学生成绩</a></li>

            <li><a href="/list">学生成绩列表</a></li>
        </ul>
        <ul>
            系统管理
            <li><a href="/userList">用户列表</a> </li>
            <li><a href="/reg">添加用户</a> </li>
            <li><a href="/delete">删除用户</a> </li>
            <li><a href="/change">更改密码</a></li>
            <li><a href="/log">退出系统</a></li>
        </ul>
    </div>

    <div id="content" style="background-color:#F0F0F0;height:1000px;width:1600px;float:left;">
        <h1>学生成绩列表</h1>
        <table border="1">
            <tr>
                <th>id</th>
                <th>姓名</th>
                <th>科目一考试成绩</th>
                <th>科目二考试成绩</th>
                <th>科目三考试成绩</th>
                <th>科目四考试成绩</th>
                <th>科目一考试次数</th>
                <th>科目二考试次数</th>
                <th>科目三考试次数</th>
                <th>科目四考试次数</th>
            </tr>
            <tr th:each="m:${list}">
                <td th:text="${m.id}"></td>
                <td th:text="${m.name}"></td>
                <td th:text="${m.class1Grade}"></td>
                <td th:text="${m.class2Grade}"></td>
                <td th:text="${m.class3Grade}"></td>
                <td th:text="${m.class4Grade}"></td>
                <td th:text="${m.class1Number}"></td>
                <td th:text="${m.class2Number}"></td>
                <td th:text="${m.class3Number}"></td>
                <td th:text="${m.class4Number}"></td>
            </tr>
        </table>
    </div>

    <div id="footer" style="background-color:#CCFFCC;clear:both;text-align:center;">
        版权 你不可以动哦</div>
</div>
</html>
